


<body>
  <header>
    <div class="profile">
      <img src="../../../assets/img/img-profile.jpg" alt="Foto de Perfil">
      <h1>Gustavo Braz</h1>
      <p>Desenvolvedor Web Full-Stack</p>
    </div>
  </header>

  <header class="portfolio-header">
    <h1>Sobre mim</h1>
    <p> Olá, meu nome é Gustavo Braz e sou um desenvolvedor Web apaixonado por tecnologia.<br>
      Adoro criar projetos interessantes e aprender coisas novas a cada dia.
    </p>
  </header>

  <div class="about-me">
   <br><h2> Tecnologias: </h2><br>
    <br><img class="img" src="../../../assets/img/angular.png" alt="Texto alternativo da imagem">
    <img class="img" src="https://spring.io/img/projects/spring-tool.svg" alt="Texto alternativo da imagem">
    <img class="img" src="../../../assets/img/html5-logo-31813.png" alt="Texto alternativo da imagem">
    <img class="img" src="../../../assets/img/css-3_732190.png" alt="Texto alternativo da imagem"><br>

    <p><br>
      Duas tecnologias que amo, estudo todos os dias, pois sou apaixonado por Angular e Spring Boot,
      Dois ecosistemas incriveis para desenvolver aplicaçoes diversas na web.
    </p>

    <div class="container">
    <a href="https://drive.google.com/file/d/1EZkOZHZK0sCBVN3vUBU7sCilVCXxejTF/view?usp=sharing" download>
      <button class="download-button">Baixar Currículo</button>
    </a>
  </div>
    <h2 class="contact" >Entre em contato comigo. </h2>


    <div class="social-icons">
      <a href="https://instagram.com/brazbrenoo?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://github.com/Gustrevasx" target="_blank"><i class="bi bi-github"></i></a>
      <a href="www.linkedin.com/in/gustavo-breno-79505220a" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="https://api.whatsapp.com/send/?phone=%2B55092984842494&text&type=phone_number&app_absent=0" target="_blank"><i class="bi bi-whatsapp"></i></a>
    </div>
  </div>


</body>

