.footer
{
  overflow: hidden;
  background-color:  rgb(62, 17, 83);
  top: 100%;
  position: sticky;
  padding: 20px 10px;
}

h1 {
      color:bisque;
      font-size:  20px;
}

a
{
  color: rgb(255, 196, 216);
  text-decoration: nome;
  padding: 8px 5px;
  font-size: 15px;

}

a:hover{
  color: blueviolet;
}

i
{
  padding: 0px 10px;
}

.p{
  color: aliceblue;
}
